<!DOCTYPE html>
<html>
<head>
    <title>Комплектующие</title>
</head>
<body>
    <font color="blue">
        <h1 align="center">Основные устройства</h1>
    </font>

    <div style="text-align: left; margin-left: 20px;">
        <ol>
            <li>Процессор
                <ul type="square">
                    <li>разрядность;</li>
                    <li>частота.</li>
                </ul>
            </li>
            <li>Материнская плата
                <ul type="square">
                    <li>чипсет;</li>
                    <li>BIOS;</li>
                    <li>шины;</li>
                    <li>интерфейс.</li>
                </ul>
            </li>
            <li>Оперативная память
                <ul type="square">
                    <li>быстродействие;</li>
                    <li>почему компьютер с малым объемом памяти работает медленнее.</li>
                </ul>
            </li>
        </ol>
    </div>
</body>
</html>