<HTML>
<HEAD>
    <TITLE>Анкета</TITLE>
</HEAD>
<BODY>
<FONT COLOR="blue">
    <H1 ALIGN="CENTER">Анкета для посетителей</H1>
</FONT>
<FORM>
    Пожалуйста введите Ваше Имя: <BR>
    <INPUT TYPE="text"
           NAME="name" SIZE=30> <BR>
    E-mail: <BR>
    <INPUT TYPE="text"
           NAME="e-mail" SIZE=30>
    <BR>
    Укажите, к какой группе пользователей
    Вы себя относите: <BR>
    <INPUT TYPE="radio"
    NAME="group" VALUE="student">студент<BR>
    <INPUT TYPE="radio"
    NAME="group" VALUE="teacher">учитель <BR>
    Какие из сервисов Интернета Вы используете наиболее часто:
    <BR>
    <INPUT TYPE="checkbox"
           NAME="group" VALUE="www">
    WWW<BR>
    <INPUT TYPE="checkbox"
    NAME="""group" VALUE=
    "e-mail"> e-mail<BR>
    <INPUT TYPE="checkbox"
           NAME=group" VALUE="ftp">
    FTP<BR>
</FORM>
</HTML>