{% extends 'base.html' %}

{% block title %}Биография The Weeknd{% endblock title %}

{% block content %}
<main class="container">
    <section class="bio-content">
        <h1 class="bio-title">Гид по альбомам The Weeknd</h1>
        <div class="bio-text">
                <p><b>«Trilogy» (2012)<p></b>
Сборник из трёх первых микстейпов The Weeknd, «House of Balloons», «Thursday» и «Echoes of Silence», которые были записаны в 2011 году и опубликованы Эйбелом для свободного скачивания. Записи быстро обрели заслуженную популярность — музыкантом заинтересовался мейджор-лейбл Republic Records. Чтобы переиздать микстейпы для коммерческого распространения и была собрана  «Трилогия».<p>

<p>Первые пробы пера Эйбела звучали сыро, особенно если сравнивать с поп-сценой ранних десятых.
                От коллег по жанру его отличал подход к звукозаписи и написанию текстов — и то и другое работало на создание образа интроверта, уставшего от праздной жизни и безнадёжных любовных похождений. Интересен подход The Weeknd к музыкальным цитатам — в частности, припев «House of Balloons / Glass Table Girls» построен на рефрене хита «Happy House» пионеров постпанка Siouxsie and the Banshees. </p>
        </div>
                 <div class="image-container">
    <div class="image-left">
        <img src="https://m.media-amazon.com/images/I/713zdlBqPtL.jpg" alt="Левая картинка">
    </div>
    <div class="image-center">
        <img src="https://images.genius.com/d5f3f78e2bb35c1e64c04ebb8edd67e7.1000x1000x1.png" alt="Центральная картинка">
    </div>
    <div class="image-right">
        <img src="https://cdn1.ozone.ru/s3/multimedia-m/6674433322.jpg" alt="Правая картинка">
    </div>
</div>



        <br>
        <p><b>«Kiss Land» (2013)<p></b>
Первый официальный альбом The Weeknd вдохновлён родным ему Торонто примерно настолько же, насколько фильмами Джона Карпентера, Дэвида Кроненберга и Ридли Скотта. Сам Эйбел называет «Kiss Land» своим собственным фильмом ужасов.<p>

Kiss Land — это место, где царит подлинный страх.
                     <p>Оказаться там "повезло" главному герою альбома, который с каждым треком всё больше напоминает героя романтической литературы: он ищет смысл жизни на вечеринках и прячется тоски и одиночества в барах. Одна из главных загадок «Kiss Land» — насколько Эйбел честен со своими слушателями, где граница между реальностью и фантазиями певца.
                     <p>От коллег по жанру его отличал подход к звукозаписи и написанию текстов — и то и другое работало на создание образа интроверта, уставшего от праздной жизни и безнадёжных любовных похождений. Интересен подход The Weeknd к музыкальным цитатам — в частности, припев «House of Balloons / Glass Table Girls» построен на рефрене хита «Happy House» пионеров постпанка Siouxsie and the Banshees. </p>

        <div class="image-container">
    <div class="image-left">
        <img src="https://m.media-amazon.com/images/I/81ozEfr8xSL.jpg" alt="Левая картинка">
    </div>
    <div class="image-center">
        <img src="https://avatars.mds.yandex.net/i?id=8edf464ff7b3b5f4d80f50a266ce54d6_l-6332308-images-thumbs&ref=rim&n=13&w=1080&h=1080" alt="Центральная картинка">
    </div>
    <div class="image-right">
        <img src="https://i.pinimg.com/736x/3b/f1/57/3bf157ad44099dcdb30eb6302996710b.jpg" alt="Правая картинка">
    </div>
</div>






        <br>
        <p><b>«Beauty Behind the Madness» (2015)<p></b>
        <p>Продолжение скитаний The Weeknd по своей одновременно жуткой и притягательной Стране чудес. В отличие от «Kiss Land», альбом «Beauty Behind the Madness» звучит более агрессивно — как микс новой волны и стадионного рока.<p>
        <p>Второй лонгплей Эйбела стал его триумфом — пластинка покорила вершину чарта Billboard 200 и принесла артисту две премии «Грэмми». Особенно полюбились слушателям нью-диско «Can't Feel My Face» и залитая дисторшном баллада «The Hills».<p>
        <p>«Beauty Behind the Madness» — пожалуй, самая нуарная работа The Weeknd. Именно после этой пластинки об артисте заговорили как об изобретателе и трендсеттере тёмного R&B — гибрида мелодичной чартовой поп-музыки и готичного взгляда на вещи.<p>
        <div class="image-container">
    <div class="image-left">
        <img src="{{ url_for('static', filename='img/s-l1600.jpg') }}" alt="Левая картинка">
    </div>
    <div class="image-center">
        <img src="{{ url_for('static', filename='img/pic.jpeg') }}" alt="Центральная картинка">
    </div>
    <div class="image-right">
        <img src="{{ url_for('static', filename='img/6401e3ddd84065daac946ca8113f6110.jpg') }}" alt="Правая картинка">
    </div>
</div>




                  <br><p><b>«Starboy» (2016)<p></b>
                <p>Спустя год после релиза «Beauty Behind the Madness» выходит «Starboy» — не менее экспериментальная поп-запись, в которой легко расслышать влияние синтвейва конца прошлого столетия.
                <p>Сопродюсерами пластинки выступили ретроэлектронщики Daft Punk, отчего у музыки Эйбела появился глянцевый блеск. Сам The Weeknd предстал в амплуа поп-идола и гедониста, цель которого — уничтожить себя времён «Trilogy» и «Kiss Land».

Подобно пионерам новой волны Depeche Mode,  певец обращается к христианской философии и символизму. «Starboy» — это альбом о грехе и раскаянии человека, который променял настоящего себя на марионетку шоу-бизнеса, а любовь — на славу и богатство.
                <p>The Weeknd показывает свою искалеченную душу, скрытую под оболочкой успешного поп-артиста.<p>

<p>

                <div class="image-container">
    <div class="image-left">
        <img src="https://www.shazam.com/mkimage/image/thumb/Music115/v4/b5/92/bb/b592bb72-52e3-e756-9b26-9f56d08f47ab/16UMGIM67864.rgb.jpg/1275x1275bb-60.webp" alt="Левая картинка">
    </div>
    <div class="image-center">
        <img src="https://i.pinimg.com/736x/fb/8d/fd/fb8dfd85fe70c6e8ba6652901b6f6139.jpg" alt="Центральная картинка">
    </div>
    <div class="image-right">
        <img src="https://m.media-amazon.com/images/M/MV5BMTg0ZTY3NjQtNWU1My00OTMzLTljZjctMTQyMWIzYjU4MmM0XkEyXkFqcGc@._V1_FMjpg_UX1000_.jpg" alt="Правая картинка">
    </div>
</div>


                <br><p><b>«After Hours» (2020)<p></b>
                <p>Следующего альбома Эйбела пришлось ждать четыре года. Скрасил ожидание EP «My Dear Melancholy,», в записи которого поучаствовал Gesaffelstein — один из наиболее заметных артистов дарквейв-сцены. Спустя два года после томного, пропитанного меланхолией релиза The Weeknd выкрутил яркость на максимум.<p>
                <p>Четвертый студийный релиз Эйбела — это гонка по освещённым слепящими огнями хайвеям современного Метрополиса с античным Хароном за рулём спорткара. В «After Hours» The Weeknd предстаёт в образе гротескного «Старбоя»: окончательно потеряв контроль, он несётся к печальной и неминуемой развязке.
                <p>Но перед тем, как софиты погаснут навсегда, Эйбел успевает вдавить педаль газа под «Blinding Lights», напиться, подраться с охраной клуба и влюбиться, словно мальчишка.<p>



                <div class="image-container">
    <div class="image-left">
        <img src="https://lastfm.freetls.fastly.net/i/u/ar0/da010fe466e1ecc3282362db5464dead.jpg" alt="Левая картинка">
    </div>
    <div class="image-center">
        <img src="https://images.genius.com/bb8a814666ed964b28a78d2abcfb55fe.1000x1000x1.jpg" alt="Центральная картинка">
    </div>
    <div class="image-right">
        <img src="https://i.pinimg.com/736x/b7/f6/1e/b7f61ef5ad2df2007e7c7053c063c578.jpg" alt="Правая картинка">
    </div>
</div>



                <br><p><b>«Dawn FM» (2022)<p></b>
                <p>Пятая пластинка Эйбела продолжила развивать мифологию «After Hours».
                <p>Балансируя на границе жизни и смерти, The Weeknd оказывается в Чистилище — на бесконечной вечеринке в клубе-лабиринте, где вместо минотавра по следам артиста следует его злой двойник.

<p>Сумрачный символизм не мешает «Dawn FM» оставаться танцевальной пластинкой, которая маскируется под радиопередачу с Джимом Керри в роли диджея. Его голос ведёт Эйбела к альбому «Hurry Up Tomorrow» — эпичной финалу второй трилогии The Weeknd, на атмосферу которого повлияла кинопоэзиея Дэвида Линча.<p>



                <div class="image-container">
    <div class="image-left">
        <img src="https://upload.wikimedia.org/wikipedia/ru/thumb/8/8a/Dawn_FM.jpg/960px-Dawn_FM.jpg" alt="Левая картинка">
    </div>
    <div class="image-center">
        <img src="https://big54.ru/upload/iblock/fda/lbz005w21u2uvct21vml5ovwmo9pck53.jpg" alt="Центральная картинка">
    </div>
    <div class="image-right">
        <img src="https://i.pinimg.com/474x/22/69/38/226938f5d5cceb83ec9756f074eca5ee.jpg?nii=t" alt="Правая картинка">
    </div>
</div>



                <br><p><b>«Hurry Up Tomorrow» (2025)<p></b>
                <p>Для артиста эта работа станет последней под привычным псевдонимом: Тесфайе признавался, что устал от постоянной погони за славой.
                <p>Будет ли он записываться под своим настоящим именем — пока неизвестно, но концовка альбома даёт надежду.<p>



                <div class="image-container">
    <div class="image-left">
        <img src="https://is1-ssl.mzstatic.com/image/thumb/Music211/v4/98/d3/b3/98d3b3dd-5bef-f105-2c62-57452ead1a8f/25UMGIM09490.rgb.jpg/1104x1104bb.webp" alt="Левая картинка">
    </div>
    <div class="image-center">
        <img src="https://www.shazam.com/mkimage/image/thumb/AMCArtistImages221/v4/32/b8/4c/32b84c51-400b-d7ef-14b0-bb49065277b8/e551d134-ebe5-4a6d-b496-a26beceffdaa_ami-identity-777ad796f94973f081f3e54e4b81fcb1-2024-09-12T22-33-01.265Z_cropped.png/1400x1400bb.webp" alt="Центральная картинка">
    </div>
    <div class="image-right">
        <img src="https://i.pinimg.com/474x/a9/a8/92/a9a892ff8db14921e90d07bfab812cc0.jpg?nii=t" alt="Правая картинка">
    </div>
</div>
            </div>
        </section>
        </main>
{% endblock content %}
