<HTML>
<HEAD>
    <TITLE>Комплектующие</TITLE>
</HEAD>
<BODY>
<FONT COLOR="blue">
    <H1 ALIGN="left"> Основные устройства</Н1>
</FONT>
<OL>
    <LI>Процессор
        <UL>
            <LI TYPE="square">
                разрядность;
            <LI TYPE="square">
                частота.
        </UL>
        <p></p>
    <LI>Материнская плата
        <UL>
            <LI TYPE="square">
                чипсет,
            <LI TYPE="square">
                BIOS;
                <LI TYPE="square">
                шины;
            <LI TYPE="square">
                интерфейс.
        </UL>
    <p></p>
    <LI>Оперативная память
        <UL>
            <LI TYPE="square">
                быстродействие;
            <LI TYPE="square">
                почему компьютер с малым объемом памяти работает медленнее.
        </UL>
</OL>
</BODY>
</HTML>