<HEAD>
<TITLE>Компьютер</TITLE>
</HEAD>
<BODY>
<FONT COLOR="blue">
<H1 ALIGN="center">Все о компьютере</H1>
</FONT>
<HR>
<h2>
    <P ALIGN="center">На этом сайте вы сможете получить различную информацию о компьютере, его программном
        обеспечении и ценах на компьютерные комплектующие.</P>
    <P ALIGN="center">Терминологический словарь познакомит вас с компьютерными терминами, а также вы сможете заполнить анкету.</P>
</h2>

<!-- УДАЛИТЕ все другие img теги и оставьте ТОЛЬКО этот: -->
<div style="text-align: center;">
    <img src="{{ url_for('static', filename='img/transfer-whatsapp-data-from-iphone-to-pc.jpg') }}" alt="Компьютер">
</div>

</BODY>
</HTML>